<% include partials/header %>
<div class="code">
    <h1 name="gCode"></h1>
</div>
<div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Name</th>
                <th class='text-right'>Total Points</th>
            </tr>
        </thead>
                <tr>
                    <td name='uName'>Name</td>
                    <td name='uPoints' class='text-right'>Points</td>
                </tr>
    </table>
</div>


<% include partials/footer %>
